/samples/text-analytics-for-health-async/TextAnalyticsForHealthAsync-Client/.vs
/samples/text-analytics-for-health-async/TextAnalyticsForHealthAsync-Client/bin/Debug/net6.0
/samples/text-analytics-for-health-async/TextAnalyticsForHealthAsync-Client/obj
/samples/text-analytics-for-health-async/TextAnalyticsForHealthAsync-Client/Properties/PublishProfiles