/samples/ta4h-container-e2e-sample/TextAnalyticsForHealthAsync-Client/.vs
/samples/ta4h-container-e2e-sample/TextAnalyticsForHealthAsync-Client/bin/Debug/net6.0
/samples/ta4h-container-e2e-sample/TextAnalyticsForHealthAsync-Client/obj
/samples/ta4h-container-e2e-sample/TextAnalyticsForHealthAsync-Client/Properties/PublishProfiles
/samples/ta4h-container-e2e-sample/StressTestConsoleClient/.vs
/samples/ta4h-container-e2e-sample/StressTestConsoleClient/bin
/samples/ta4h-container-e2e-sample/StressTestConsoleClient/obj
/samples/ta4h-adaptive-client-blueprint/env
/samples/ta4h-adaptive-client-blueprint/.vscode
/samples/ta4h-adaptive-client-blueprint/Deployment
